#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navBar {
  background-color: rgb(233, 12, 12);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.navBar a {
  color: white; /* Make text white */
  text-decoration: underline /* Remove the underline */
}